.sign-up-container{
    display: flex;
    flex-direction: column;
    width: 380px;
 
  h2{
   margin: 10px, 0;
  }
  .buttons-container{
    display: flex;
    justify-content: space-between;
    @media screen and (max-width: 850px){
        display: grid;
        grid-row-gap: 10px;
      }
      @media screen and (max-width: 700px){
        display: flex;
      }
      @media screen and (max-width: 475px){
        display: grid;
        grid-row-gap: 10px;
      }  
  }

  @media screen and (max-width: 850px){
    width: 300px;
  }
  @media screen and (max-width: 700px){
    width: 80vw;
  }
}